<div class="container mt-5">
  <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
    <button class="btn btn-outline-secondary"><a href="/">back</a></button>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div style="font-size: 20px; margin-left: 20px;">
      <button class="btn btn-outline-secondary"><i class="fas fa-bars"></i></button>
      <button class="btn btn-outline-secondary"><i class="fas fa-columns"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="./restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" style="width:100%;">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-secondary font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
            <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" style="float: right; margin: 2px;">
              <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
            </form>
            <a href="./restaurants/{{ this._id }}" style="margin: 2px;" class="badge badge-info">detail</a>
            <a href="./restaurants/{{ this._id }}/edit" class="badge badge-warning" style="margin: 2px;">edit</a>



          </div>

        </a>
        {{/each}}







      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each restaurants}}
      <tr>
        <th scope="row"><a href="./restaurants/{{ this._id }}" class="text-secondary">{{this.name}}</a><a
            href="./restaurants/{{ this._id }}" style="margin: 2px;" class="badge badge-info">detail</a>
          <a href="./restaurants/{{ this._id }}/edit" class="badge badge-warning" style="margin: 2px;">edit</a></th>
        <td>{{this.category}}</td>
        <td>{{this.rating}}</td>
        <td>
          <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" style=" margin: 2px;">
            <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
          </form>

        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>